@import 'tailwindcss';
@import '@nuxt/ui';

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-thin:hover {
  scrollbar-color: rgb(255 255 255 / 0.2) transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 0.2);
}
